[Unit]
Description=Rain World wiki bot
After=network.target

[Service]
Type=simple
User=ubuntu
Restart=always
RestartSec=1
ExecStart=python3 /home/ubuntu/5pebbles/main.py
WorkingDirectory=/home/ubuntu/5pebbles/

[Install]
WantedBy=multi-user.target
